# Config file for automatic testing at travis-ci.org
dist: bionic

services:
  - mysql

env:
  global:
    - TESTING=True
    - GOOGLE_SAFE_BROWSING_API_KEY=foo

matrix:
  include:
    # python with sqlite
    - language: python
      python: 3.8
      env: TORTOISE_TEST_DB="sqlite://:memory:"
      cache:
        pip: true
        directories:
          - "$HOME/.cache/pypoetry"
      install:
        - pip install poetry
        - poetry config virtualenvs.create false
        - poetry install
        - pyppeteer-install
      before_script:
        # create dummy directories & file
        - mkdir -p frontend/dist/static frontend/dist/images
        - touch frontend/dist/index.html frontend/dist/images/not-found.png
      script: pytest -v --cov=uzen --cov-report=term-missing

    # python with mysql
    - language: python
      python: 3.8
      env: TORTOISE_TEST_DB=mysql://root@127.0.0.1:3306/uzen
      cache:
        pip: true
        directories:
          - "$HOME/.cache/pypoetry"
      before_install: mysql -e 'CREATE DATABASE uzen;'
      install:
        - pip install poetry
        - poetry config virtualenvs.create false
        - poetry install
        - pyppeteer-install
      before_script:
        - mkdir -p frontend/dist/static
        - touch frontend/dist/index.html
      script: pytest -v --cov=uzen --cov-report=term-missing
      after_success:
        - COVERALLS_REPO_TOKEN=78xcfkSWMOYAFjJla5nmgJ2PzpI0s0YJm coveralls

    - language: node_js
      node_js: 13
      before_script: cd frontend
