# Config file for automatic testing at travis-ci.org
dist: xenial
language: python
python:
  - 3.8
install:
  - pip install pipenv
  - pipenv install --dev
  - nvm install 12
  - nvm use 12
  - npm install
before_script:
  - npm run build
  - cp .env.test .env
script: pytest -v --cov=uzen --cov-report=term-missing
after_success:
  - COVERALLS_REPO_TOKEN=78xcfkSWMOYAFjJla5nmgJ2PzpI0s0YJm coveralls
