[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
black = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-black = "*"
vcrpy = "*"
v = {editable = true,version = "*"}
asynctest = "*"
pytest-cov = "*"
coveralls = "*"
autoflake = "*"
isort = {extras = ["pipfile"],version = "*"}
mypy = "*"
respx = "*"

[packages]
aiofiles = "*"
aiosqlite = "*"
tortoise-orm = "*"
uvicorn = "*"
yara-python = "*"
loguru = "*"
alembic = "*"
httpx = "*"
python-whois = "*"
pyopenssl = "*"
pydantic = "*"
fastapi = "*"
requests-html = "*"
urllib3 = "<1.25"
pyppeteer = "*"
pydig = "*"
pysafebrowsing = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
