[tool.poetry]
name = "uzen"
version = "0.1.0"
description = "YARA with Puppeteer"
authors = ["Manabu Niseki <manabu.niseki@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.8"
aiofiles = "^0.4.0"
aiosqlite = "^0.11.0"
tortoise-orm = "^0.16.4"
uvicorn = "^0.11.3"
yara-python = "^3.11.0"
loguru = "^0.4.1"
alembic = "^1.4.2"
httpx = "^0.12.1"
python-whois = "^0.7.2"
pyopenssl = "^19.1.0"
pydantic = "^1.4"
fastapi = "^0.54.0"
requests-html = "^0.10.0"
pydig = "^0.2.0"
pysafebrowsing = "^0.1.1"
pyppeteer2 = "^0.2.2"
certifi = "^2020.4.5"

[tool.poetry.dev-dependencies]
autopep8 = "^1.5.1"
black = "^19.10b0"
pytest = "^5.4.1"
pytest-asyncio = "^0.10.0"
pytest-black = "^0.3.8"
vcrpy = "^4.0.2"
asynctest = "^0.13.0"
pytest-cov = "^2.8.1"
coveralls = "^2.0.0"
autoflake = "^1.3.1"
isort = "^4.3.21"
mypy = "^0.770"
respx = "^0.10.1"
flake8 = "^3.7.9"
pre-commit = "^2.2.0"
seed-isort-config = "^2.1.0"
pytest-timeout = "^1.3.4"

[tool.isort]
force_grid_wrap = 0
include_trailing_comma = true
known_third_party = ["OpenSSL", "alembic", "certifi", "fastapi", "httpx", "loguru", "pydantic", "pydig", "pyppeteer", "pysafebrowsing", "pytest", "requests", "requests_html", "respx", "sqlalchemy", "starlette", "tortoise", "tqdm", "urllib3", "vcr", "whois", "yara"]
line_length = 88
multi_line_output = 3
use_parentheses= true

[build-system]
requires = ["poetry-core>=1.0.0a5"]
build-backend = "poetry.core.masonry.api"
