interactions:
  - request:
      body: ""
      headers:
      method: GET
      uri: https://ipinfo.io/json
    response:
      content: "{\n  \"ip\": \"1.1.1.1\",\n  \"hostname\": \"example.com\",\n
        \ \"city\": \"xxx\",\n  \"region\": \"xxx\",\n  \"country\": \"AU\",\n  \"loc\":
        \"xxx\",\n  \"org\": \"AS1.\",\n
        \ \"postal\": \"xxx\",\n  \"timezone\": \"Asia/Tokyo\",\n  \"readme\":
        \"https://ipinfo.io/missingauth\"\n}"
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status_code: 200
version: 1
